[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
wtforms = "*"
sqlalchemy = "*"
gevent = "*"
requests = "*"
pymysql = "*"
jieba = "*"
gensim = "*"
"beautifulsoup4" = "*"
lxml = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.6"
