td img {
    cursor: pointer;
    transition: all 0.6s;
}

td img:hover {
    transform: scale(4);
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
